*, *::before, *::after {box-sizing: border-box}

body {
    background-color: hsl(240, 78%, 98%);
    background-image: url("/images/bg-top.svg");
    background-repeat: no-repeat;
    background-position: top -30px right -200px;    
}

.container {
    width: 85%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}


.header h2{
    color: hsl(233, 13%, 49%);
    margin-top: 3em;
    margin-bottom: 1.5em;
    font-size: 2rem;
}

.toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.toggle {
    margin-bottom: 4em;
    color: hsl(234, 14%, 74%);    
}

.toggle-btn {
    display: inline-flex;
    align-items: center;
    width: 65px;
    height: 35px;
    border-radius: 20px;
    padding: 5px;
    margin: 0 20px;
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));    
    cursor: pointer;
}    

.inner-circle {
    display: inline-block;
    text-align: left;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    transition: all 300ms ease-in-out;
    
}

.toggle-btn.active .inner-circle {
    display: inline-block;
    margin-left: 30px;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
}

#price {
    font-size: 4rem;
    margin: 0.5em 0;
}

.dollar {
    font-size: 2rem;
    margin-right: .1em;
}

.box p {
    padding: 1.5em 0;
    margin: 0;
    border-top: 1px solid hsla(234, 14%, 74%, 0.6);  
}

.last {
    border-bottom: 1px solid hsla(234, 14%, 74%, 0.6);
}

.box {
    background-color: white;
    color: hsl(233, 13%, 49%);
    border-radius: 10px; 
    padding: 1em;
    margin: 20px 0;
    text-align: center; 
}

.box-pro {
    background-image: linear-gradient(to bottom right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
}

.box-pro p,
.box-pro .last {
    border-bottom: 1px solid white;
}

.more {
    margin: 2em 0;
    width: 100%;
    background-image: linear-gradient(to bottom right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border: none;
    padding: 1em 0;
    border-radius: 10px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    cursor: pointer;

}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
   
.attribution a { 
    color: hsl(228, 45%, 44%); 
    color: hsl(234, 14%, 74%);
    color: hsl(233, 13%, 49%);
    color: hsl(232, 13%, 33%)
}